
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="CreateQuiz" asp-route-id="">Générer un nouveau quiz</a>
<br>
<a asp-action="PassezQuiz" asp-route-id="">Passer un quiz</a>
<br>
<a asp-action="ReviserQuiz" asp-route-id="">Réviser un quiz</a>