@model IEnumerable<quizExamen.Models.Quiz>

@{
    ViewData["Title"] = "ReviserQuiz";
}

<h1>Reviser Quiz</h1>
<form action="/Home/ReviserQuiz">
    <label> 1. Trouver les quiz d'un utilisateur: </label>
    <input type="text" name="name" placeholder="Username" />
    <input type="text" name="email" placeholder="Email" />
    <input type="submit" value="Trouver" />
</form>

@if (Model != null)
{
    <label> 2. Choisir un quiz: </label>

    <form method="post" action="/Tests/Post">
        <fieldset>
            @foreach (var item in Model)
            {
                <input type="radio" name="quizChoice" id="@Html.DisplayFor(modelItem => item.QuizId)" value=@Html.DisplayFor(modelItem => item.QuizId) > <span>Quiz </span>@Html.DisplayFor(modelItem => item.QuizId)<br>
            }
            <br>
            <input type="submit" value="Passer" asp-action="AfficherResultats" asp-route-id="@Model.">
            <button class="btn btn-secondary" asp-action="Index">Annuler</button>
        </fieldset>
    </form>
}
